*{
  box-sizing: border-box;
}
.header {
  width: 100%;
  border-radius: 0 0 20px 20px;
  padding-top: 16px;
  padding-bottom: 16px;
  height: 80px;
  box-shadow: 0 -26px 82px 0 rgba(55, 80, 117, 0.15);
  background: #fff;
}
.header-wrapper {
  width: 80vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  &__text {
    font-family: onest;
    font-weight: 500;
    font-size: 13px;
    color: #5b5b5b;
  }
  &__phone {
    border-radius: 8px;
    width: 38px;
    height: 38px;
    background: #f4f6f8;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover{
      background: #979797;
    }
  }
}
.header-menu {
  width: 581px;
  display: flex;
  justify-content: space-between;
  &__item {
    border-radius: 58px;
    padding: 12px 16px;
    background: #f4f6f8;
    transition: all 600ms;
    &:hover {
      background-color: #979797;
      .header-menu__link {
        color: #fff;
      }
    }
  }
  &__link {
    font-family: onest;
    font-weight: 400;
    font-size: 16px;
    color: #161c24;
    text-decoration: none;
  }
}
@media (max-width: 1100px){
  .header-menu {
    width: 45vw;
    &__item {
      padding: 12px 12px;
    }
    &__link {
     font-size: 14px;
    }
}}

.burger-btn {
  display: none;
}
.burger-menu {
  display: none;
}


@media (max-width: 800px) {
  .header-wrapper{
    width: 88vw;
  }
.header-menu {
  width: 10vw;
  &__link {
    display: none;
  }
}
.header-menu {
  display: none;
}
.try-free {
  margin-right: 40px;
}
.mini-menu {
  display: flex;
}
.burger-btn {
  display: block;
  cursor: pointer;
}
.burger-menu {
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0px;
  min-height: 200vh;
  display: flex;
  justify-content: end;
  z-index: 10;
  transform: scale(0);
  transition: 0.3s ease;
}
.close-burger{
  position: absolute;
  display: block;
  top:30px;
  right: 40px;
  width: 20px;
  cursor: pointer;

}

.b-menu {
  transform: scale(0);
  transform: translateX(500px);
  transition: 0.5s ease;
  display: flex;
  position: relative;
  flex-direction: column;
  width: 240px;
  background: #ffffff;
  align-items: center;
  /* justify-content: baseline; */
  padding: 20px 30px;
  z-index: 40;
  padding-top: 70px;
}
.burger-menu.active {
  transform: scale(1);
}
.b-menu.active {
  transform: scale(1);
  transform: translateX(0px);
}
.b-menu__item {
  margin-bottom: 20px;
  width: 100%;
  padding-bottom: 20px;
  border-radius: 58px;
  padding: 12px 16px;
  background: #f4f6f8;
  transition: all 600ms;
  text-align: center;
  &:hover {
    background-color: #979797;
    .header-menu__link {
      color: #fff;
    }
}
.b-menu__link {
 
  font-family: onest;
    font-weight: 400;
    font-size: 16px;
    color: #161c24;
    text-decoration: none;
}
}
}
@media (max-width: 400px){
.header-wrapper__phone{
  display: none;
}
.header-wrapper__text{
  display: none;
}
}